.viewData {
    width: 97%;
    height: auto;
    float: left;
    background-color:#8FB996;
    color: #0e0405;
    padding: 2%;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.viewDatabtn {
    height: 80px;
    padding: 20px 175px;
    color: #0e0405;
    background-color:#8FB996;
}
.results  {
    overflow-x: auto;
}
.resultstable {
    width: 100%;
}
.resultstable table, th , td  {
    width: 2%;
    border: 1px solid black;    
    border-collapse: collapse;
    padding: 5px;
}
div{
    padding: 4px;
}
